In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [38]:
# Find the most recent date in the data set.

# result = session.query(measurement,func.max(measurement.date))
# for row, i in result:
#     print(row.date,row.id)

most_recent_date = session.query(measurement.date).order_by(measurement.date.desc()).first().date
most_recent_date

'2017-08-23'

In [60]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
one_year_ago = dt.datetime.strptime(most_recent_date, '%Y-%m-%d') - dt.timedelta(days=365)
# one_year_ago
# Perform a query to retrieve the data and precipitation scores
prcp = session.query(measurement.date, measurement.prcp).filter(measurement.date >= one_year_ago).group_by(measurement.date).all()
prcp

# Save the query results as a Pandas DataFrame and set the index to the date column
prcp_df = pd.DataFrame(prcp, columns=["Date", "Prcp"]).set_index("Date")
prcp_df

# Sort the dataframe by date
sorted_prcp_df = prcp_df.sort_values(by=["Date"], ascending=False)
sorted_prcp_df
# Use Pandas Plotting with Matplotlib to plot the data

            Prcp
Date
2017-08-23  0.00
2017-08-22  0.00
2017-08-21  0.00
2017-08-20  0.00
2017-08-19  0.00
...          ...
2016-08-28  0.01
2016-08-27  0.00
2016-08-26  0.00
2016-08-25  0.08
2016-08-24  0.08

[365 rows x 1 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()